<form [formGroup]="weatherForm" (ngSubmit)="onSubmit()">
  <!-- City name Field -->
  <div class="field-group">
    <label for="cityName">City name</label>
    <input id="cityName" type="text" formControlName="cityName" />
  </div>
  <div *ngIf="formSubmitted && weatherForm.get('cityName')?.invalid" class="field-warning">
    City name is required.
  </div>

  <!-- Temperature Field -->
  <div class="field-group">
    <label for="temperature">Temperature</label>
    <input id="temperature" type="number" formControlName="temperature"/>
    <select id="temperatureUnit" formControlName="temperatureUnit">
      <option value="C">°C</option>
      <option value="F">°F</option>
    </select>
  </div>
  <div *ngIf="formSubmitted && weatherForm.get('temperature')?.errors?.['invalidTemperature']" class="field-warning">
    Temperature must be between -100ºC and 70ºC (-150ºF and 160ºF).
  </div>

  <!-- Raining Field -->
  <div class="field-group">
    <label for="raining">Raining</label>
    <select id="raining" formControlName="raining">
      <option value="">Select</option>
      <option value="true">Yes</option>
      <option value="false">No</option>
    </select>
  </div>
  <div *ngIf="formSubmitted && weatherForm.get('raining')?.invalid" class="field-warning">
    Raining status is required.
  </div>

  <!-- Date Field -->
  <div class="field-group">
    <label for="date">Date</label>
    <input id="date" type="datetime-local" formControlName="date" />
    <select id="timezone" formControlName="timezone" selected="UTC">
      <option value="UTC">UTC</option>
      <option value="GMT">GMT</option>
      <option value="PST">PST</option>
      <option value="CET">CET</option>
      <option value="IST">IST</option>
    </select>
  </div>
  <div *ngIf="formSubmitted && weatherForm.get('date')?.invalid" class="field-warning">
    Date is required.
  </div>

  <!-- Network Power Field -->
  <div class="field-group">
    <label for="networkPower">Network Power (1-5)</label>
    <input id="networkPower" type="number" formControlName="networkPower" min="1" max="5" step="0.1" />
  </div>
  <div *ngIf="formSubmitted && weatherForm.get('networkPower')?.invalid" class="field-warning">
    Network power is required and must be a number between 1 and 5.
  </div>

  <!-- Altitude Field -->
  <div class="field-group">
    <label for="altitude">Altitude (m)</label>
    <input id="altitude" type="number" formControlName="altitude" />
  </div>
  <div *ngIf="formSubmitted && weatherForm.get('altitude')?.invalid" class="field-warning altitude">
    Altitude is required.
  </div>

  <!-- Submit Button -->
   <button
    type="submit"
    [class.success]="formSubmitted && submissionSuccess"
    [disabled]="false"
  >
    <ng-container *ngIf="defaultText">
      Submit
    </ng-container>
    <ng-template #defaultText>
      Submit
    </ng-template>
  </button>
</form>
