.city-list {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.city-item {
  padding: 10px 0;
}

.city-name {
  font-weight: 500;
  cursor: pointer;
  color: white;
  margin: 0;
}

.city-name:hover {
  text-decoration: underline;
  font-size: 35px;
}

.city-header {
  cursor: pointer;
  background-color: #221e1e;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.city-details {
  padding: 10px;
  border-bottom: 5px;
}

.white-border {
  border-left: 3px solid white;
  border-bottom: 5px;
  padding-left: 25px;
}

.city-record {
  margin-left: 25px;
  padding-left: 25px;
}

.worst-registries {
  margin-top: 20px;
}

.worst-registry {
  border: 1px solid #ff4d4d;
  padding-left: 50px;
  margin-top: 10px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container h1 {
  margin: 0;
  display: flex;
  align-items: center;
}

.header-container button {
  margin-left: 20px;
  padding: 10px 40px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #221e1e;
  color: white;
  border: 3px solid white;
  border-radius: 4px;

  &:hover {
    background-color: #333333;
  }
}

a {
  cursor: pointer;
}
