<div class="city-list">
  <div class="header-container">
    <h1>City List <button (click)="refreshData()">Refresh</button></h1>
  </div>

  <div *ngFor="let cityGroup of groupedCities | keyvalue" class="city-item">
    <div (click)="toggleCityDetails(cityGroup.key)" class="city-header city-name">
      <h2>{{ cityGroup.key }}</h2>
    </div>

    <div *ngIf="isCityExpanded(cityGroup.key)" class="city-details">
      <div *ngFor="let record of cityGroup.value" class="city-record city-details">
        <p class="white-border">
          <strong>Date:</strong> {{ record.date }}<br />
          <strong>Temperature:</strong> {{ record.temperature }}º {{ record.temperatureUnit }}<br />
          <strong>Raining:</strong> {{ record.raining ? 'Yes' : 'No' }}<br />
          <strong>Network Power:</strong> {{ record.networkPower }}<br />
          <strong>Altitude:</strong> {{ record.altitude }}
        </p>
      </div>

      <!-- Highlight the three worst registries -->
      <div class="worst-registries" *ngIf="cityGroup.value.length > 1">
        <h3>Worst Registries</h3>
        <div class="worst-registry">
          <h4>Lowest Temperature</h4>
          <p>
            <strong>Date:</strong> {{ worstRegistries.get(cityGroup.key)?.lowestTemperature?.date }}<br />
            <strong>Temperature:</strong> {{ worstRegistries.get(cityGroup.key)?.lowestTemperature?.temperature }}
            °{{ worstRegistries.get(cityGroup.key)?.lowestTemperature?.temperatureUnit }}<br />
          </p>
        </div>
        <div class="worst-registry">
          <h4>Highest Temperature</h4>
          <p>
            <strong>Date:</strong> {{ worstRegistries.get(cityGroup.key)?.highestTemperature?.date }}<br />
            <strong>Temperature:</strong> {{ worstRegistries.get(cityGroup.key)?.highestTemperature?.temperature }}
            °{{ worstRegistries.get(cityGroup.key)?.highestTemperature?.temperatureUnit }}<br />
          </p>
        </div>
        <div class="worst-registry">
          <h4>Lowest Network Power</h4>
          <p>
            <strong>Date:</strong> {{ worstRegistries.get(cityGroup.key)?.lowestNetworkPower?.date }}<br />
            <strong>Network Power:</strong> {{ worstRegistries.get(cityGroup.key)?.lowestNetworkPower?.networkPower }}<br />
          </p>
        </div>
      </div>
      <!-- Graphs -->
      <div class="graphs" *ngIf="cityGroup.value.length > 1">
        <h3>Temperature Over Time</h3>
        <echarts
          [options]="temperatureGraphOptions.get(cityGroup.key)"
          [style.width.px]="getConstrainedWidth(500 * cityGroup.value.length)"
          style="height: 700px;"
        ></echarts>

        <h3>Network Power Over Time</h3>
        <echarts
          [options]="networkPowerGraphOptions.get(cityGroup.key)"
          [style.width.px]="getConstrainedWidth(500 * cityGroup.value.length)"
          style="height: 700px;"
        ></echarts>
      </div>
    </div>
  </div>
</div>
