.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px;
  background-color: #696969;
}

.navbar-item {
  flex: 1;
  text-align: center;
  position: relative;
}

.title {
  margin-right: 75px;
  margin-left: 75px;
  font-weight: bold;
  font-size: 50px;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
}

a:hover {
  font-weight: 700;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.white-nav {
  color: white !important;
}

