<div class="home">
  <div class="header-container">
    <h1>{{ 'WEATHER_APP' | translate }}</h1>
    <div class="dropdown">
      <button class="dropdown-toggle">{{ 'LANGUAGE' | translate }} &#9660;</button>
      <ul class="dropdown-menu">
        <li><a (click)="changeLanguage('en')">{{ 'ENGLISH' | translate }}</a></li>
        <li><a (click)="changeLanguage('pt')">{{ 'PORTUGUESE' | translate }}</a></li>
        <li><a (click)="changeLanguage('es')">{{ 'SPANISH' | translate }}</a></li>
        <li><a (click)="changeLanguage('fr')">{{ 'FRENCH' | translate }}</a></li>
        <li><a (click)="changeLanguage('de')">{{ 'GERMAN' | translate }}</a></li>
        <li><a (click)="changeLanguage('it')">{{ 'ITALIAN' | translate }}</a></li>
      </ul>
    </div>
  </div>
  <div class="route-list">
    <p>
      <a [routerLink]="'/city-form'">{{ 'FORM' | translate }}</a>
    </p>
    <p>
      <a [routerLink]="'/city-list'">{{ 'LIST_OF_CITIES' | translate }}</a>
    </p>
  </div>
</div>
